{% extends 'base.html' %}

{% block content %}
<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'examples' %}">Examples</a></li>
      <li class="breadcrumb-item active" aria-current="page">Active Search</li>
    </ol>
  </nav>

  <div>
    <h1 class="my-4">Active Search</h1>
    <p>
      This example actively searches a contacts database as the user enters text.
    </p>

    <h2 class="my-4">Explanation</h2>
    <p>The search input is set to post to /active_seaarch/users/ via a ic-post-to attributes. It does this on keyup by setting the ic-trigger-on attribute to keyup, but only issues the request when the input value changes by using the changed modifier in the trigger. In order to avoid overwhelming the server with requests, a trigger delay of 500 milliseconds is added with the ic-trigger-delay attributes. The input targets the body of the table by using the ic-target attribute, and the server side produces rows of matching contacts. As usual, an indicator is called out with the ic-indicator attribute.</p>

    <h2 class="my-4">Demo</h2>
    <div
      ic-get-from="{% url 'as_user_list' %}"
      ic-trigger-on="load"
      ic-indicator="#loadingExampleIndicator">
    </div>
    <div id="loadingExampleIndicator" class="text-center" style="display: none">
      <i class="fa fa-spinner fa-spin fa-2x"></i>
    </div>

    <h2 class="my-4">Source Code</h2>
    <p>The source code can be found in this <a href="https://github.com/duboisR/django_intercooler_examples/tree/master/django_intercooler_examples/active_search" target="_blank">repository</a>.</p>
  </div>
</div>
{% endblock %}
