{% extends 'base.html' %}

{% block content %}
<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'examples' %}">Examples</a></li>
      <li class="breadcrumb-item active" aria-current="page">Click To Load</li>
    </ol>
  </nav>

  <div>
    <h1 class="my-4">Implementing Click To Load</h1>
    <p>
      This example demos a click to load UI for a table.
    </p>

    <h2 class="my-4">Explanation</h2>
    <p>After the last row of data, emit a single row/column with a colspan of the entire table, with a button in it.</p>
    <p>That button has an ic-get-from attribute that loads the next page of data (including another button). The button targets the closest table row for replacement with the ic-target attribute, using the special closest syntax. Finally, because we want to replace the entire row with the new page of rows returned (rather than simply replacing the inner content of the row), the ic-replace-target is set to true.</p>

    <h2 class="my-4">Demo</h2>
    <div
      ic-get-from="{% url 'ctl_user_list' %}"
      ic-trigger-on="load"
      ic-indicator="#loadingExampleIndicator">
    </div>
    <div id="loadingExampleIndicator" class="text-center" style="display: none">
      <i class="fa fa-spinner fa-spin fa-2x"></i>
    </div>

    <h2 class="my-4">Source Code</h2>
    <p>The source code can be found in this <a href="https://github.com/duboisR/django_intercooler_examples/tree/master/django_intercooler_examples/click_to_load" target="_blank">repository</a>.</p>
  </div>
</div>
{% endblock %}
