{% extends 'base.html' %}

{% block content %}
<div class="container">
  <nav aria-label="breadcrumb mb-4">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Examples</li>
    </ol>
  </nav>

  <h1>Django Intercooler Examples</h1>
  <p>
    Intercooler is a client-side library that makes it easy to define AJAX requests via HTML attributes, and expects HTML response that gets inserted into the page.
    This library seems like the best candidate for boosting a Django project without javascript.
  </p>
  <p>
    Below are a series of examples demonstrating common UI/UX problems being solved with intercooler.
    All examples are inspired by the <a href="https://intercoolerjs.org/examples/index.html" target="_blank">Intercooler documentation</a>.
  </p>

  <h2>Examples</h2>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a href="{% url 'example_cte' %}">Click To Edit</a></td>
        <td>A simple demo of inline editing of data within a page.</td>
      </tr>
      <tr>
        <td><a href="{% url 'example_is' %}">Infinite Scroll</a></td>
        <td>Loading more elements when the bottom of a page is scrolled into view.</td>
      </tr>
      <tr>
        <td><a href="{% url 'example_ctl' %}">Click To Load</a></td>
        <td>Similar to the infinite scroll demo, but requires that a user explicitly click on a button to load more items.</td>
      </tr>
      <tr>
        <td><a href="{% url 'example_buui' %}">Bulk Update UI</a></td>
        <td>A demo of a table-driven UI, where multiple rows are updated at once via checkbox selection.</td>
      </tr>
      <tr>
        <td><a href="{% url 'example_llae' %}">Lazily Loading An Element</a></td>
        <td>Lazily loading an element can be used to make perceived performance faster: the enclosing page loads quickly, the computationally intensive section loads when it is ready, and a spinner is shown to indicate things are happening.</td>
      </tr>
      <tr>
        <td><a href="{% url 'example_ifv' %}">Inline Form Validation</a></td>
        <td>Shows how inputs can be validated on the server side on change, allowing you to keep all validation logic secure and centralized.</td>
      </tr>
      <tr>
        <td><a href="{% url 'example_irr' %}">Inline Row Removal</a></td>
        <td>Similar to the Bulk Update Demo, this shows how to remove items from a table UI.</td>
      </tr>
      <tr>
        <td><a href="{% url 'example_as' %}">Active Search</a></td>
        <td>Demonstrates how to implement a Google-like active search, where results are show as the user types.</td>
      </tr>
      <tr>
        <td><a href="{% url 'example_ds' %}">Dependent Select</a></td>
        <td>Shows how to implement selects that depend on one another: by changing one, the values available in the other select are retrieved from the server side.</td>
      </tr>
      <tr>
        <td><a href="{% url 'example_hs' %}">History Support</a></td>
        <td>Demonstrates how to integrate History into your Intercooler app with a simple tabbed example.</td>
      </tr>
      <tr>
        <td><a href="{% url 'example_jr' %}">Job Runner</a></td>
        <td>Shows how to implement a fairly complicated Job-Runner UI, with smoothly animated progress bars.</td>
      </tr>
      <tr>
        <td><a href="{% url 'example_bc' %}">Bootstrap Confirm</a></td>
        <td>Shows how to use a Bootstrap confirm dialog with an intercooler button.</td>
      </tr>
      <tr>
        <td><a href="{% url 'example_sl' %}">Sortable List</a></td>
        <td>Shows how to use SortableJS and intercooler.js to save a drag-and-drop ordered list after updates.</td>
      </tr>
    </tbody>
  </table>
</div>
{% endblock %}
