{% extends 'base.html' %}

{% block content %}
<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'examples' %}">Examples</a></li>
      <li class="breadcrumb-item active" aria-current="page">Job Management UI</li>
    </ol>
  </nav>

  <div>
    <h1 class="my-4">Job Management UI</h1>
    <p>
      This example shows how to implement a client side job management UI using intercooler.
    </p>

    <h2 class="my-4">Demo</h2>
    <div
      ic-get-from="{% url 'jr_task' %}"
      ic-trigger-on="load"
      ic-indicator="#loadingExampleIndicator">
    </div>
    <div id="loadingExampleIndicator" class="text-center" style="display: none">
      <i class="fa fa-spinner fa-spin fa-2x"></i>
    </div>

    <h2 class="my-4">Source Code</h2>
    <p>The source code can be found in this <a href="https://github.com/duboisR/django_intercooler_examples/tree/master/django_intercooler_examples/job_runner" target="_blank">repository</a>.</p>
  </div>
</div>
{% endblock %}
