<div class="jumbotron">
  <h1>
    Favorite Colors (Drag to reorder)
    <span id="indicator" style="display:none">
      <i class="fa fa-spinner fa-spin"></i>
    </span>
  </h1>
  <hr />

  <form>
    {% csrf_token %}
    <ul id="sortableList" ic-put-to="{% url 'sl_color_list' %}" ic-trigger-on="end" ic-indicator="#indicator">
      {% include "sortable_list/frags/color_list.html" with favoritecolor_list=favoritecolor_list %}
    </ul>
  </form>
</div>

<script>
//========================================================================
// Initialize the sortable list using SortableJS
//========================================================================
  $(function(){
    var list = document.getElementById("sortableList");
    Sortable.create(list); // That's all.
  });
</script>
